---
import Layout from "~/layouts/Layout.astro";
import WordDefinition from "~/components/WordDefinition";
import { useWordStore, rareWords } from "~/store/wordStore";

const params = Astro.params;
const word = params.title ?? "";

const index = rareWords.indexOf(word);
const previousWord =
  rareWords[(index - 1 + rareWords.length) % rareWords.length];
const nextWord = rareWords[(index + 1) % rareWords.length];

useWordStore.setState({ currentWord: word });
---

<Layout
  title={`Word: ${word}`}
  description={`Learn about the word "${word}"`}
  previousWord={previousWord}
  nextWord={nextWord}
>
  <h2>Word: {word}</h2>
  <WordDefinition word={word} client:visible />
</Layout>
