---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  previousWord: string;
  nextWord: string;
}

const { title, description, previousWord, nextWord } = Astro.props;
console.log("previousWord", previousWord);
console.log("nextWord", nextWord);
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header class='header'>
      <h1>Ready for your next word?</h1>
      <nav class='nav'>
        <a href={`/${previousWord}`} id='internal-link' rel='internal'>Previous</a>
        <a href={`/${nextWord}`} id='internal-link' rel='internal'>Next</a>
      </nav>
    </header>
    <main class='main'>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background: #f5f5f5;
    color: #2a194d;
    font-size: 18px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .header {
    background-color: #f5f5f5;
    color: #2a194d;
    padding: 1rem;
    text-align: center;
  }

  .nav {
    margin-top: 0.5rem;
  }

  .nav a {
    color: #4b00e6;
    margin: 0 0.5rem;
    text-decoration: none;
  }

  .nav a:hover {
    text-decoration: underline;
  }

  .main {
    padding: 1rem;
  }
</style>
